@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* header-menu start */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
   
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}
.header-section{
    position: fixed;
    width: 100%;
}

.header-section .container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.header-menu .menu{
    display: flex;
    font-family: 'Raleway', sans-serif;
  
}
.header-menu .menu li a{
    font-size: 14px;
    font-weight: 700;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #fff;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* header-menu end */

/* ------------header-banner start---------- */

.section-banner{
    background-image: url(./img/ActiveBox.png-2.png);
    background-size: cover ;
    background-repeat: no-repeat;
    padding-top: 202px;
    padding-bottom: 154px;
    
}
.section-banner .container h1{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 100px;
}

.section-banner .container p{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
    padding: 0 120px;
}
.section-banner .container a{
    color: #fff;
    background-color: #E84545;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    position: relative;
    /* margin: 0 auto; */
    left: 50%;
    transform: translateX(-50%);
}






/* ------------header-banner end---------- */