@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */

/* header-menu start */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
   
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}
.header-section{
    position: fixed;
    width: 100%;
}

.header-section .container{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.header-menu .menu{
    display: flex;
    font-family: 'Raleway', sans-serif;
  
}
.header-menu .menu li a{
    font-size: 14px;
    font-weight: 700;
    padding: 14px 30px;
    text-transform: uppercase;
    color: #fff;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* header-menu end */

/* ------------header-banner start---------- */

.section-banner{
    background-image: url(./img/ActiveBox.png-2.png);
    background-size: cover ;
    background-repeat: no-repeat;
    padding-top: 202px;
    padding-bottom: 154px;
    
}
.section-banner .container h1{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 68px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 100px;
}

.section-banner .container p{
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
    padding: 0 120px;
}
.section-banner .container a{
    color: #fff;
    background-color: #E84545;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    position: relative;
    /* margin: 0 auto; */
    left: 50%;
    transform: translateX(-50%);
}


/* ------------header-banner end---------- */


/* ---------------service-section start------------ */
.service-section{
    padding: 120px 120px;
}


.service-section .container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 77px;
    column-gap: 5%;
}
.service-section .container .service_item{
max-width: 30% ;
display: flex;
flex-direction: column;
align-items: center;
padding: 0 25px;

}
.service-section .container .service_item h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 36px;
    margin-bottom: 26px;
}

.service-section .container .service_item p{
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* ---------------service-section end------------ */

/* -------------------Gallery section Start Page-3------------- */
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
}

.gallery-section .gallery-item{
    max-width: calc(25% - 1px);
    position: relative;

}
.gallery-section .gallery-item img{
    width: 100% ;
    height: 100%;
}

.gallery-section .gallery-item .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s all ease-in-out;
    
}
.gallery-section .gallery-item:hover .overlay{
    background-color: rgba(218, 71, 71, 0.7);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: 0.4s;
}

.content h3{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}


.content p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    
}
.gallery-section .gallery-item:hover .content{
    visibility: visible;
}


/* -------------------Gallery section end Page-3------------- */


/* -----------------team-section start page-4--------------- */
.team-section .container{
    display: flex;
    padding: 100px 0;
    

}
.team-section .container .team-item h2{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 15px;
    
    
}

.team-section .container .team-item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: red;
    text-transform: uppercase;
    padding-bottom: 30px;

}
.team-section .container .team-item p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #6C7279;
    padding-right: 35px;


}




.team-section .container .team-item .bottom a{
    margin-top: 52px;
    border: 1px solid #C6CACC;
    padding: 11px 11px;
    color: #C6CACC;
    font-size: 23px;
}

/* -----------------team-section end page-4--------------- */

/* ------------------page-5 strat ------------- */
.image-section{
    display: flex;
}
.image-section .image-itam{
 width: 50%;
    
}
.image-section .image-itam img{
    width: 100%;
    height: 100%;
}



.image-section .content-itam{
   width: 50%;
   background-color: #53354A;
}

.image-section .content-itam h3{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    margin-top: 120px;
    margin-bottom: 42px;
    padding-left: 84px;
    padding-right: 200px;
}

.image-section .content-itam p{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding-left: 84px;
    font-size: 13px;
    font-weight: 700;

}

/* ------------------page-5 end ------------- */

/* -----------download Section start------------- */
.download-section .container{
    text-align: center;

}

.download-section .container h3{
    margin-top: 100px;
    margin-bottom: 22px;
    font-family: 'Raleway', sans-serif;
   font-size: 28px;
   font-weight: 400;
}


.download-section .container p{
    font-family: 'Raleway', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 40px;

}
.download-section .container a{
    border: 1px solid #E84545 ;
    padding: 20px 84px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: #E84545 ;
    border-radius: 4px;
    margin-bottom: 100px;

}










/* -----------download Section end------------- */